<html>

<head>
<title>Witek ten Hove</title>
<style>
h1 {
color:white
}

.header {
background-color:tomato;
font-family:'Kavivanar', cursive;
}

.why {
background-color:skyblue
}

.why h1,h2,h3 {
color:white
}

</style>

<link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">

</head>

<body>
<div class="header">
<h1>Witek ten Hove</h1>
</div>

<div class="why">
<h2>Why</h2>
<p>Hier beschrijf ik wie ik ben</p>
</div>

<h2>How</h2>
<p>Hier beschrijf ik wat ik doe</p>
<p>Hier beschrijf ik wie ik help</p>

<h2>What</h2>
<p>Hier beschrijf ik hoe ik help</p>


</body>
</html>
