html, body{
	font-size:16px;
	color: #5b5b5b;
	background-color: #eaefef; 
}

a {
  color: #5b5b5b;
}

a:hover {
  color: #5b5b5b;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #eaefef;
}

.section-2 {
	background-color: #eaefef;
}

.section-3 {
	background-color: #eaefef;
}

.section-4 {
	background-color: #eaefef;
	padding: 0.2rem;
}

a.nav-item {
	color: #5b5b5b;
}

a.nav-item:hover {
	color: #5b5b5b;
}

.avatar{
	height:275px;
	border-radius: 75%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:50%;
	max-height:100px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #5b5b5b;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: #eaefef; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #eaefef;
	}

	.nav-toggle:hover {
		background-color: #eaefef;
	}

	.nav-toggle span {
		background-color: #eaefef;
	}

	.nav-toggle span:hover {
		background-color: #eaefef;
	}

}
